# Gere uma chave própria: openssl rand -hex 32
BEES_API_KEY=
BEES_DISTRIBUTION_CENTER_ID=0730882
BEES_COUNTRY=BR
BEES_TIMEZONE=America/Fortaleza
BEES_RETURN_STATUSES=DEFINITELY_RETURNED
BEES_DATA_VOLUME=bees-worker-data
BEES_SESSION_VOLUME=bees-worker-session
